beautifulsoup4==4.9.3
certifi==2021.5.30
chardet==4.0.0
greenlet==1.1.0
idna==2.10
importlib-metadata==4.5.0
lxml==4.6.3
pgdb==0.0.8
psycopg2-binary==2.9.1
python-dotenv==0.18.0
requests==2.25.1
soupsieve==2.2.1
SQLAlchemy==1.4.18
typing-extensions==3.10.0.0
urllib3==1.26.5
zipp==3.4.1
